<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<body>
<h1 style="text-align:center">Categories list</h1>
<table width="300" align="center" border="1">
    <tr th:each="category : ${categories}">
        <td align="center" th:text="${category.name}"></td>
    </tr>
</table>
</body>
</html>