<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<body>
<div id="params" th:if="${(param.category != null) or (param.brand != null)}">
    <div id="category" th:if="${(param.category != null)}">
        <h1 style="text-align:center"
            th:text="'List of ' + ${#httpServletRequest.getParameter('category')}"
            th:unless="${#httpServletRequest.getParameter('category') == null}">

        </h1>
    </div>
</div>

<div id="brand" th:if="${(param.brand != null)}">
    <h1 style="text-align:center"
        th:text="'List of products with brand ' + ${#httpServletRequest.getParameter('brand')}"
        th:unless="${#httpServletRequest.getParameter('brand') == null}">

    </h1>
</div>
<div id="params" th:if="${(param.category == null) and (param.brand == null)}">
    <h1 style="text-align:center">
        List of products
    </h1>
</div>
<table width="1000" align="center" border="1">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Price, USD</th>
        <th>Size, inches</th>
        <th>Brand</th>
        <th>OS</th>
    </tr>
    <tr th:each="product : ${products}">
        <td align="center" th:text="${product.attributes.id}"></td>
        <td align="center" th:text="${product.description}"></td>
        <td align="center" th:text="${product.price}"></td>
        <td align="center" th:text="${product.attributes.size}"></td>
        <td align="center" th:text="${product.attributes.brand}"></td>
        <td align="center" th:text="${product.attributes.os}"></td>
    </tr>
</table>
</body>
</html>